<div>
    {{ help_message }}
</div>

<fieldset>
    Confirm that you want to donate: {{ amount }}
</fieldset>

<form id="send_hptoken" action="{{ authnet_url }}" method="post" >
    <input type="hidden" name="token" value="{{ authnet_token }}" />
    <input type="submit" value="Confirm">
</form>