<h1>Donate</h1>

<form id="send_hptoken" action="https://test.authorize.net/payment/payment" method="post" >
    <input type="hidden" name="token" value="{{ authnet_token }}" />
    <input type="submit" value="Donate">
</form>